body,html
{
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
}
*
{
    box-sizing: border-box;
}
#main
{
    width: 100%;
    height: 100%;
}

#title
{
    text-align: center;
    margin-bottom: 0.5%;
    padding: 0.5%;
}

.navbar
{
    margin-bottom: 1%;
}
.nav
{
    margin: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.btns1,.btns2,.btns3
{
    border: 3px solid white;
    width: fit-content;
    background-color: #953e12;
    color: white;
    cursor: pointer;
    list-style-type: none;
    margin-left: 2%;
    padding: 1% 2.5%;
    transform:skew(5deg)

}

#card,#Gallery,#achievements-card {
    background-color: wheat;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    max-width: 75%;
    height: 65%;
    display: flex;
    flex-direction: row;
    margin: auto auto;
}

#Gallery,#achievements-card
{
    display: none;
}

#img-div
{
    border: 5px solid #953e12;
    width: 40%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

#image {
    max-width: 100%;
    min-width: 100%; 
    height: 100%; 
}

#img-caption
{
    text-align: center;
}

img:hover {
    box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
  }
#About,#achievements
{
    width: 60%;
    height: 100%;
    padding-top: 2.5%;

}

#About-title,#achievements-title
{
    text-align: center;
}

#About-info,#achievement-info
{
    text-align: justify;
    margin: 2%;
    font-size: larger;

}

.list
{
    margin: 2%;
    font-size: larger;
}

#tribute
{
    background-color: black;
    color: white;
    width: 100%;
    text-align: center;
    position: fixed;
    bottom: 0;
}
#tribute-link
{
    margin-left: 1%;
}
